@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #CF2B2B;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.425);
}

.topo {
    background-color: #CF2B2B;
    width: 414px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.topo > p {
    margin-left: 20px;
}

.topo p:nth-child(1) {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #ffffff;
}

.topo p:nth-child(2) {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
}

footer {
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.barra {
    background-color: white;
    width: 414px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaobarra {
    background-color: #cbcbcb;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    display: table;
}

.botaobarra > p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.prato {
    background-color: #e5e5e5;
    margin: 0 auto;
    margin-top: 120px;
    width: 414px;
    height: 264px;
}

.prato > p {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    padding: 10px 0px 10px 20px;
}

.pratos {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}


.opcaoprato {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 172px;
    height: 216px;
    margin-left: 15px;
    border-radius: 9px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.247);
    position: relative;
}

.opcaoprato > img {
    width: 144px;
    height: 87px;
    margin: 18px 14px 0px 14px;
}

.opcaoprato > p {
    margin: 10px 0px 0px 14px;
}

.opcaoprato > p:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.opcaoprato > p:nth-child(3) {
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
}

.opcaoprato > p:nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    color: black;
}


.bebida {
    background-color: #e5e5e5;
    margin: 0 auto;
    margin-top: 40px;
    width: 414px;
    height: 264px;
}

.bebida > p {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    padding: 10px 0px 10px 20px;
}

.bebidas {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}


.opcaobebida {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 172px;
    height: 216px;
    margin-left: 15px;
    border-radius: 9px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.247);
    position: relative;
}

.opcaobebida > img {
    width: 144px;
    height: 87px;
    margin: 18px 14px 0px 14px;
}

.opcaobebida p {
    margin: 15px 0px 0px 14px;
}


.opcaobebida p:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.opcaobebida > p:nth-child(3) {
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
}

.opcaobebida > p:nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.sobremesa {
    background-color: #e5e5e5;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 120px;
    width: 414px;
    height: 264px;
}

.sobremesa > p {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    padding: 10px 0px 10px 20px;
}

.sobremesas {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}


.opcaosobremesa {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 172px;
    height: 216px;
    margin-left: 15px;
    border-radius: 9px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.247);
    position: relative;
}

.opcaosobremesa > img {
    width: 144px;
    height: 87px;
    margin: 18px 14px 0px 14px;
}

.opcaosobremesa > p {
    margin: 15px 0px 0px 14px;
}

.opcaosobremesa > p:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.opcaosobremesa > p:nth-child(3) {
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
}

.opcaosobremesa > p:nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.borda  {
    border: 5px solid #32B72F;
    transition-duration: 0.1s;
}


.check {
    color: #32B72F;
    font-size: 20px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: none;

}

.ap {
    display: initial;
}

.check2 {
    color: #32B72F;
    font-size: 20px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: none;

}

.ap2 {
    display: initial;
}

.check3 {
    color: #32B72F;
    font-size: 20px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: none;

}

.ap3 {
    display: initial;
}


.selecionado {
    background-color: #32B72F;
    transition-duration: 1s;
}

a {
    text-decoration: none;
    color: #50D074;
}

.confirmarcaixa {
    display: flex;
    justify-content: center;
}

.caixa {
    background-color: #50D074;
    width: 377px;
    height: 353px;
    border-radius: 9px;
    position: absolute;
    position: fixed;
    z-index: 2;
    top: 130px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    transition-duration: 1s;
}

.caixa h1 {
    text-align: center;
    
    font-size: 22px;
    color:#FFFFFF;
    font-weight: bold;
}

.food {
    display: inline-flex;
    justify-content: space-around;
}



.food > span:nth-child(1) {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    
}

.food > span:nth-child(2) {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
   
}

.drink {
    display: inline-flex;
    justify-content: space-around;
}

.drink > span:nth-child(1) {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
}

.drink > span:nth-child(2) {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
}

.candy {
    display: inline-flex;
    justify-content: space-around;
}

.candy > span:nth-child(1) {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
}

.candy > span:nth-child(2) {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
}

.all {
    display: inline-flex;
    justify-content: space-around;
}

.all > span:nth-child(1) {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
}

.all > span:nth-child(2) {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
}

.tudocerto {
    background-color:#FFFFFF;
    width: 329px;
    height: 52px;
    margin-left: 24px;
    border-radius: 100px;
    text-align: center;
    display: table;
}

.tudocerto > span {
    color: #50D074;
    font-size: 22px;
    font-weight: 700;
    margin-top: 80px;
    display: table-cell;
    vertical-align: middle;
}

.cancelar {
    text-align: center;
}

.cancelar > span {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.escondido {
    display: none;
    transition-duration: 1s;
}



 
